html {
    font-family: sans-serif;
    height: 100%;
}
body {
    background-color: #e2e2e2;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    height: 100%;
    margin: 0 auto;
}
h1 {
    padding: 10px 100px;
    margin: 0;
    border-bottom: 1px outset #e2e2e2;
    border-top: 1px outset #e2e2e2;

}
div#container {
    margin: 25px 100px;
}
div#container > div {
    padding-bottom: 25px;
}
div#game {
    border: 1px inset black;
    border-radius: 3px;
    background: url(../img/bg.jpg);
}
